# Default system properties included when running spark-submit.
# This is useful for setting default environmental settings.

# Example:
{% if spark_bin_master is defined %}
spark.master            {{ spark_bin_master }}
{% endif %}

{% if spark_bin_eventLog is defined %}
spark.eventLog.enabled  {{ spark_bin_eventLog }}
{% endif %}

{% if spark_bin_logdir is defined %}
spark.eventLog.dir      {{ spark_bin_logdir }}
{% endif %}

{% if spark_bin_logdir is defined %}
spark.serializer       {{ spark_bin_serializer }} 
{% endif %}

{% if spark_bin_hisServer is defined %}
spark.yarn.historyServer.address  {{ spark_bin_hisServer }}
{% endif %}
