Alias {{ tinkerer_baseurl }} {{ tinkerer_html_path }}

<Directory "{{ tinkerer_html_path }}">
  Options Indexes FollowSymLinks +ExecCGI Includes
  AllowOverride All
  Order Allow,Deny
  Allow from All
</Directory>
