<configuration>
  <property>
    <name>hbase.cluster.distributed</name>
    <value>true</value>
  </property>
  <property>
    <name>hbase.rootdir</name>
    <value>{{hbase_client_hbase_rootdir  | default('hdfs://hbase-pseudo:8020/hbase')}}</value>
  </property>
  <property>
    <name>hbase.zookeeper.quorum</name>
    <value>{{hbase_client_hbase_zookeeper_quorum  | default('storm-01,storm-02,storm-03')}}</value>
  </property>
</configuration>
