ProxyPass /{{ jenkins_url_name }} http://localhost:{{ jenkins_port }}/{{ jenkins_url_name }} nocanon
ProxyPassReverse /{{ jenkins_url_name }} http://localhost:{{ jenkins_port }}/{{ jenkins_url_name }}
ProxyRequests Off
AllowEncodedSlashes On

<Proxy http://localhost:{{ jenkins_port }}/{{ jenkins_url_name }}*>
  Order deny,allow
  Allow from all
</Proxy>

