########### These MUST be filled in for a storm configuration
# storm.zookeeper.servers:
#     - "server1"
#     - "server2"
# 
# nimbus.host: "nimbus"
# 
# 
# ##### These may optionally be filled in:
#    
## List of custom serializations
# topology.kryo.register:
#     - org.mycompany.MyType
#     - org.mycompany.MyType2: org.mycompany.MyType2Serializer
#
## List of custom kryo decorators
# topology.kryo.decorators:
#     - org.mycompany.MyDecorator
#
## Locations of the drpc servers
# drpc.servers:
#     - "server1"
#     - "server2"
storm.zookeeper.servers:
{% for server in storm_zookeeper_servers_list %}
  - {{ server }}
{% endfor %} 

nimbus.host: '{{ storm_nimbus_host }}'

storm.local.dir: '{{ storm_local_dir }}'
java.library.path: '/usr/local/lib:/opt/local/lib:/usr/lib:/usr/lib64'

nimbus.childopts: "{{ storm_nimbus_childopts }}"
supervisor.childopts: "{{ storm_supervisor_childopts }}"
worker.childopts: "{{ storm_worker_childopts  }}"

drpc.servers:
{% for server in storm_drpc_servers_list %}
  - {{ server }}
{% endfor %} 
