# masters
{% for i in ec2_cdh5_ma_result.results %}
{% for j in i.tagged_instances %}
{{ j.private_ip }} {{ j.public_ip }}
{% endfor %}
{% endfor %}

# slaves
{% for i in ec2_cdh5_sl_result.results %}
{% for j in i.tagged_instances %}
{{ j.private_ip }} {{ j.public_ip }}
{% endfor %}
{% endfor %}

# clients
{% for i in ec2_cdh5_cl_result.results %}
{% for j in i.tagged_instances %}
{{ j.private_ip }} {{ j.public_ip }}
{% endfor %}
{% endfor %}
