########### These MUST be filled in for a storm configuration
# storm.zookeeper.servers:
#     - "server1"
#     - "server2"
# 
# nimbus.host: "nimbus"
# 
# 
# ##### These may optionally be filled in:
#    
## List of custom serializations
# topology.kryo.register:
#     - org.mycompany.MyType
#     - org.mycompany.MyType2: org.mycompany.MyType2Serializer
#
## List of custom kryo decorators
# topology.kryo.decorators:
#     - org.mycompany.MyDecorator
#
## Locations of the drpc servers
# drpc.servers:
#     - "server1"
#     - "server2"
storm.zookeeper.servers:
{% for server in storm_standalone_storm_zookeeper_servers %}
  - {{ server }}
{% endfor %} 

nimbus.host: "{{ storm_standalone_nimbus_host | default('storm-01') }}"

storm.local.dir: "{{ storm_standalone_storm_local_dir | default('/usr/lib/storm/default') }}"

java.library.path: "/usr/local/lib:/opt/local/lib:/usr/lib:/usr/lib64"
