  #
  # Ganglia monitoring system php web frontend
  #
  
  Alias /ganglia /usr/share/ganglia

  <Location /ganglia>
    Order deny,allow
    Deny from all
    Allow from {{ ganglia_master_allow_from }}
  </Location>
